*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/.idea
gradlew
gradlew.bat
local.properties
gradle-wrapper.properties
gradle-wrapper.jar
misc.xml
